<div class="container-big-card">
    <div class="big-card-photo">
        <img src="https://i.stack.imgur.com/luaq2.png"
        alt=""
        height="200px">
    </div>
    <div class="big-card-title">
        <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card-description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam impedit aperiam, itaque ex similique, quas minima excepturi tempora architecto dolores ad rem illo voluptatem porro velit eos temporibus cum officiis!
        </p>
    </div >
</div>
